.line {
    background-image: url(/img/line.png);
    background-position: left bottom;
    background-repeat: repeat-x;
    box-shadow: 0 10px 10px rgba(0,0,0,.3);
}
.line img {
    height: 50px;
}
.cars img{
    width: 100%;
}
.page-header {
    margin: 0;
}
.navbar {
    margin-bottom: 0;
    border: 0px solid transparent;
    z-index: 100;
}
.affix {
  top: 0px;
  left: 0;
  width:100%;
}
.page-header img {
    height: 90px;
    padding: 10px;
}
.col-md-4 .phone .mts {
    float: none;
}
.phone img,
.panel img{
    width: 120px;
    height: 100%;
    float: left;
}
.phone h2,
.time h2{
    margin-top: 0px;
}
.page-header {
    padding-bottom: 0px;
}
.time img {
    width: 45px;
    height: 100%;
    float: left;
    padding: 5px;
}
.row {
    margin-right: 0px; 
    margin-left: 0px; 
}
.phone span,
.panel span{
    padding: 0 10px;
}
.time h2 {
    margin: 0;
    font-size: 20px;   
}
.nav a{
    font-size: large;
}
.form-back h1 {
    text-align: -webkit-center;
}
.navbar-default {
    background-image: -webkit-linear-gradient(top,#606 0,#660066 100%);
    background-image: -o-linear-gradient(top,#606 0,#660066 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#606),to(#660066));
    background-image: linear-gradient(to bottom,#606 0,#660066 100%);
    border-radius: 0px;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:hover {
    background-image: -webkit-linear-gradient(top,#fff 0,#ffffff 100%);
    background-image: -o-linear-gradient(top,#fff 0,#ffffff 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#ffffff));
    background-image: linear-gradient(to bottom,#fff 0,#ffffff 100%);
}
.form-back button.btn.btn-default {
    color: white;
    width: 100%;
    -webkit-box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    background-image: linear-gradient(to bottom,#606 0,#660066 100%);
    background-repeat: inherit;
}
.form-back button.btn.btn-default:hover {
    color: black;
    width: 100%;
    -webkit-box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    background-image: linear-gradient(to bottom,#fff 0,#ffffff 100%);
}
.form-back textarea {
    resize: none;
    height: 182px;
}
.help-block {
    margin-top: 49px;
}
.form-control{
    border: 1px solid #606;
    -webkit-box-shadow: 0 10px 10px rgba(0,0,0,0.3);
}
.thumbnail {
    margin-top: 50px;
    text-align: -webkit-center;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    border: 0px solid #ddd;
}
.how-work1 img {
    float: left;
    width: 130px;
    margin: 0 15px;
}
.how-work2 img {
    float: right;
    width: 130px;
    margin: 0 15px;
}
.row h1 {
    text-align: -webkit-center;
}
h3{
   padding: 0 20px; 
   text-indent: 20px;
}
.comment img {
    max-width: 150px;
    float: left;
}
.comment h3 {
    margin: 0;
    padding: 0;
    font-size: medium;
    font-weight: bold;
}
.comment p {
    font-style: italic;
    font-size: small;
    display: -webkit-box;
    margin: 0 10px;
    text-indent: 20px;
    text-align: -webkit-left;
}
.car-indicators,
.command-indicators,
.comment-indicators{
    display: none;
}
.panel {
    color: white;
    margin-bottom: 0px;
    background-color: #333333;
    border: 0px solid transparent; 
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-footer {
    padding: 10px 15px;
    background-color: #660066;
    border-top: 0px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.panel .col-md-6.col-sm-6 {
    text-align: -webkit-center;
}
.phone-and-24clock img {
    width: 30%;
    float: right;
    margin: 10px;
}
.phone-and-24clock p {
    text-align: -webkit-left;
    font-size: larger;
}











@media (max-width: 768px) { 
        .time h2{
            font-size: 20px;
        }
        .help-block {
            margin-top: 29px;
}
        .comment img {
            width: 20%;
}
}
@media (max-width: 500px) { 
    .logo, .time {
       display: none;
    }
    .form-back{
        width: 100%;
    }
    .thumbnail-info{
        width: 100%;
    }
    .comment img {
        width: 40%;
}
    .thumbnail-info h2 {
        font-size: larger;
}
    .thumbnail-info img {
        width: 35%;
}
    .how-work1 img,
    .how-work2 img{
        width: 15%;
}
    .col-md-12 h3 {
        font-size: large;
}
}
@media (max-width: 360px) { 
    .comment img {
        width: 50%;
        float: initial;
}
}